body {
  background-color: #fdf1e8;
}

.card {
  margin-bottom: 30px;
  box-shadow: 0 3px 16px #ccc;
  transition: all 0.4s;
}

.card:hover {
  box-shadow: 0 0 0 #ccc;
}

.card-title {
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-img-top {
  height: 150px;
}

.search {
  margin: 2em 0;
}

.clear-search {
  margin-bottom: 30px;
}

.clear-search__button {
  margin-left: 10px;
}

.detail-image {
  max-width: 400px;
  margin: 40px 0 40px 0;
}

.form {
  margin-top: 50px;
}

.error {
  color: red;
  font-size: bold;
}

.heading {
  margin-bottom: 30px;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
